<div class="selectedCoffee">
    <div *ngIf="message" class="lightRoastResults" >
        <div *ngFor="let result of message">     
        </div>
    </div>
</div>

<!--  The div tage with the *ngIf and *ngFor above is needed to render the proper data to the page. Not sure why, but we need it.  -->


<div class="box" >
<div *ngIf="message" class="lightRoastResults" >
<div *ngFor="let result of message">
<mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{result.name}}</mat-card-title>
          <mat-card-subtitle>Price($): {{result.price}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>LEARN MORE</button>
        </mat-card-actions>
      </mat-card>
</div>
</div>
</div>

<app-selected-coffee-page></app-selected-coffee-page>





















        
<!-- </div>
<p>{{message[1].name}}</p>
</div>
I used this message[1].name to dig into my second object in my array of results aka message. After I displayed my data to the page, I began to build out automation aka a ForLoop so that I can run through my results without hardcoding everything in. P.S. Autumn say to keep up the great attitude, stay strivin and learnin. -->

