<div class="title">
    <h1>Your Cart of Joy is Ready</h1>
</div>


<!-- <mat-grid-list class="grid" cols="1" rowHeight="3:1">
    <mat-grid-tile> -->
            <!-- <h1>Checkout<h1> -->

        <!-- This is a placeholder for our table. When we get data we will build a table here showing what user
        has bought. Will have product and picture of product?? -->
        <div class="checkout">
                    <div *ngIf="checkout" class="cart" >
                        <div *ngFor="let result of checkout">
                                <mat-card-header>
                                        <mat-card-title>{{result}}</mat-card-title>
                                </mat-card-header>
                        </div>
                    </div>
                </div>
        <!-- </mat-grid-tile>
</mat-grid-list> -->

<mat-grid-list class="coupon" cols="1" rowHeight="6:1">
    <h2>Coupon Code</h2>
    <br>
    <p>If you have a Promo Code, please enter it here</p>
    <mat-form-field apperance="outline">
        <input matInput placeholder="Promo Code">
    </mat-form-field>
    <button mat-stroked-button (click)="openEaster()">Apply</button>
</mat-grid-list>
<mat-grid-list class="delivery" cols="1" rowHeight="4:1">
    <h2>Delivery Address</h2>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Billing Address">
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Shipping Address">
    </mat-form-field>
</mat-grid-list>
<br>
<mat-grid-list class="finish" cols="1" rowHeight="9:1">
    <button class="payment" mat-raised-button (click)="openDialog()">Payment Info</button>
    <button class="confirm" mat-raised-button>Confirm and Buy Now</button>
</mat-grid-list>
