<app-navbar></app-navbar>
<div class="about">
<H1>Cup O'Joy</H1>
<h3>Cup O'Joy coffee brings the most amout of freedom to you and your coffee. Inhale freedom every morning with the roasts availble to you here. According to wikipedia, freedom is defined as having the ability to act or change without constraint. At Cup O'Joy, freedom to us is to live with the best coffee's, and if our coffee and freedom are controlled by decafinated companies, we will never be free.</h3>
</div>
<mat-grid-list class="grid1" cols="1" rowHeight="1.75:1">
    <mat-grid-tile class="title" >Welcome and enjoy!</mat-grid-tile>
</mat-grid-list>
