.about {
    text-align: center;
    background-color: #c0c0c0;
    padding: 5px;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;

}

.grid1 {
    background-image: url('../../assets/aboutpage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
    color: #ffffff;
    /* text-align: center; */
    /* vertical-align: text-top; */
  }

  .title {
      vertical-align: text-top;
  }