.mat-toolbar {
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: black;
  background-color: #c0c0c0;
  position: sticky;
  list-style: none;
}
li, i {
  cursor: pointer;
}