<mat-toolbar class="selectionbar" >
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle class="button1" (click)="searchRoast('light')" value="light">Light Roast</mat-button-toggle>
    <mat-button-toggle class="button2" (click)="searchRoast('medium')" value="medium">Medium Roast</mat-button-toggle>
    <mat-button-toggle class="button3" (click)="searchRoast('dark')" value="dark">Dark Roast</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
<br>

<app-selected-roast-page class="box" [message]="roastResults" ></app-selected-roast-page>
