<!-- NavBar -->
<mat-toolbar>Log Out
  <li routerLink="/reviews">About</li>
  <i class="material-icons">eco</i>
  <li routerLink="/selectionPage">Our Choices</li>
  <i class="material-icons" routerLink="/checkout">shopping_cart</i>
 </mat-toolbar>
 
 <!-- Layout of Links to get around the site -->
 <mat-grid-list class="grid1" cols="1" rowHeight="3:1" routerLink="/reviews">
    <mat-grid-tile>About Our Coffee</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="grid2" cols="1" rowHeight="3:1">
      <mat-grid-tile routerLink="/selectionPage">The Start to a Joyful Morning</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list class="grid3" cols="1" rowHeight="3:1">
        <mat-grid-tile routerLink="/checkout">What's Filling Your Cup</mat-grid-tile>
      </mat-grid-list>